<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Tienshiao Ma</string>
	<key>Builder Version</key>
	<string>7536.25</string>
	<key>CFBundleDisplayName</key>
	<string>Rebar</string>
	<key>CFBundleIdentifier</key>
	<string>org.tienshiao.rebar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>bar.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>inject.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>rebar.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>A Reddit Toolbar</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.github.com/tienshiao/rebar/master/update.plist</string>
	<key>Website</key>
	<string>https://github.com/tienshiao/rebar</string>
</dict>
</plist>
