rebar {
    position: fixed;
    display: -webkit-box;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    z-index: 999999999;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F2F2F2), color-stop(100%,#AAA));
}


