rebar {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    z-index: 999999999;
    font-family: "lucida grande", arial;

    background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#aaa));
    border-top: 1px solid #ccc;
    outline: 1px solid rgba(0, 0, 0, 0.5) !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
