body {
    margin: 0;
    display: -webkit-box;
    font-family: "lucida grande", arial;
    font-size: 14px;

    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#aaa));

    -webkit-user-select: none; 
    cursor: default;
}

.bar {
    display: -webkit-box;
    background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#aaa));
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #4b4b4b;
    width: 100%;
    min-height: 28px;
}

.inactive .bar {
    background: -webkit-gradient(linear, left top, left bottom, from(#d7d7d7), to(#d7d7d7));
    border-bottom: 1px solid #8c8c8c;
}

a {
    color: #2A2A2A;
}

.inactive a {
    color: #808080;
}

#logo {
    display: -webkit-box;
    width: 20px;
    height: 17px;
    background-image: url(reddit.png);
    margin: 4px 10px 0 10px;
}

#score {
    display: -webkit-box;
    color: #666;
    margin-top: 4px;
    margin-right: 10px;
    font-weight: bold;
}

#score.upvoted, .inactive #score.upvoted {
    color: #FF8B60;
    text-shadow: none;
}

#score.downvoted, .inactive #score.downvoted {
    color: #9494FF;
    text-shadow: none;
}

.inactive #score {
    color: #808080;
}

#title {
    display: -webkit-box;
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
    -webkit-box-flex: 1;
}

#subreddit {
    display: -webkit-box;
    margin: 6px 5px 5px 0px;;
    font-size: 12px;
}

#right {
    display: -webkit-box;
    vertical-align: middle;
}

#right .button {
    margin-top: 4px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    background: #ececec;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F2F2F2), color-stop(100%,#AAA));
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 1px 10px;
    border-color: #696969;
    border-width: 1px;
    border-style: solid;
    font-weight: 100;
    font-size: 12px;
    color: #4B4B4B;
    cursor: default;
    height: 16px;
    text-decoration: none;
}

#right .button.clicked {
    color: #FFFFFF;
    background: #696969;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696969), color-stop(100%,#696969));
    text-shadow: none;
    border-color: #373737;
}

.inactive #right .button.clicked {
    color: #FFFFFF;
    background: #949494;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#949494), color-stop(100%,#949494));
    text-shadow: none;
    border-color: #4b4b4b;
}


.inactive #right .button {
    border-color: #A9A9A9;
    color: #808080;
    background: none;
}

#right .button:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#CECECE));
}

#right .close {
    cursor: default;
    color: #4B4B4B;
    margin-left: 6px;
    margin-right: 10px;
}

.inactive #right .close {
    color: #808080;
}

#right .close:active {
    color: #2A2A2A;
}

